<nav class="navbar navbar-expand-lg navbar-dark bg-dark header">
  <a class="navbar-brand" href="/">API REFERENCES MANAGEMENT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/apicategoryjson">API category JSON</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/apidetailsjson">API details JSON</a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Library
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/tranhphongcanh">Tranh Phong Cảnh</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/tranhdongque">Tranh Đồng Quê</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/phongcanhchauau">Phong Cảnh Châu Âu</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/phocohanoi">Phố Cổ Hà Nội</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/tranhhoa">Tranh Hoa</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/hoasen">Hoa Sen</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/tranhtinhvat">Tranh Tĩnh Vật</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/tranhthieunu">Tranh Thiếu Nữ</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/tranhtrangtri">Tranh Trang Trí</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/tranhdantuong">Tranh Dán Tường</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/tranhnhahang">Tranh Nhà Hàng</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/tranhphongthuy">Tranh Phong Thủy</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle hide-on-mobile" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/createApiCategory">Create API category</a>
          <a class="dropdown-item" href="/createApiDetails">Create API datail</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/tableapicategory">Table API category</a>
          <a class="dropdown-item" href="/tableapidetail">Table API detail</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/my/products">Products</a>
      </li>
  </div>
</nav>