<div class="include">
    <div class="container">    
        <div class="videowrapper mt-4">
            <iframe src="{{data.0.mathid}}" frameborder="0"></iframe>  
        </div>
        <div class="wrapper_video_category">
            <div class="video_category-title_wrap">
                <div class="video_category-title">
                    Video liên quan
                </div>
            </div>
            <div class="row video_category">
                {{#each data}}
                <div  class="col col-6 col-xl-3 video_category-product mt-4">
                    <img onclick="imgClick(event)" data-link="{{this.mathid}}" src="{{this.image}}" class="video_category-product_link"
                        alt="">
                    <embed src="/img/icon/play.svg" class="video_category-product_icon" />
                    <span class="video_category-product_name">{{this.name}}</span>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</div>
<script>
    const iframeElement = document.querySelector('iframe')
    function imgClick(event){
        iframeElement.src = event.target.dataset.link;
    }
</script>
